<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>categories</title>

</head>
<body>
<h15>categories List</h15>
<table>
    <tr>
        <th>Employee:</th>

        <th>Position:</th>
        <th>Init Date:</th>
        <th>End Date:</th>
    </tr>
    <tr th:each="cont:${contract}">
        <td th:text="${cont.employee}">Goku</td>
        <td th:text="${cont.position}">12</td>
        <td th:text="${cont.initDate}">2014-07-05 23:34:45.196</td>
        <td th:text="${cont.endDate}">2018-07-05 23:34:45.196</td>


    </tr>
</table>

</body>
</html>