<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Positions</title>

</head>
<body>
<h15>Positions List</h15>
<table>
    <tr>
        <th>Name:</th>


    </tr>
    <tr th:each="positi:${positions}">
        <td th:text="${positi.name}">Goku</td>


    </tr>
</table>

</body>
</html>