<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>categories</title>

</head>
<body>
<h15>categories List</h15>
<table>
    <tr>
        <th>name</th>

        <th>code</th>
    </tr>
    <tr th:each="subcat:${subcategory}">
        <td th:text="${subcat.name}">Test</td>
        <td th:text="${subcat.code}">110</td>
        <td th:text="${subcat.category}">124</td>


    </tr>
</table>

</body>
</html>